<link href="/css/style.css" rel="stylesheet" type="text/css" />

<form id="form_id" action="/ring_data" method="POST">
  <label>
    Ring number: 
    <input type="text" name="number" style="width:50px">
  </label>
  <label>
    Ring time:
    <input type="text" name="time" style="width:50px">
  </label>
  <label>
    Ring players:
    <input type="text" name="players" style="width:50px">
  </label>
      <input type="submit" name="Submit">
</form>

<img id="img_id" src="/images/awaytiny.png">
