<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="max-height: 1080px; margin: auto; max-width: 1920px"></div>   
  
  </head>
  <body>
    <%= yield %>
  </body>
</html>


